
h1{
text-align: center;
color: rgb(0, 179, 250);
font-size: 50px;
font-weight: 800;
text-shadow: 3px 3px 5px rgb(0, 0, 0),
               6px 6px 5px rgb(0, 0, 0),
               9px 9px 5px rgb(0, 0, 0);
}

body{
    background-image: url(/images/1_8Zd7Fb_5TZCSbL3LAk_8GQ.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

button{
    font-size: 25px;
    
}
.buton{
    border-radius: 10px;
    background-color: rgb(255, 231, 200);
    margin-left: 600px;
    text-transform: uppercase;
    color: rgb(0, 136, 255);
}